@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-fix-center {
  transform-box: fill-box;
  transform-origin: center;
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  position: fixed;
  z-index: -1;
}